body {
    background-color: rgb(165, 245, 218);
    text-align: center;
    overflow: hidden;
}

.content {
    padding-top: 10%;
    display: inline-block;
    width: 50%;
}

mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
}