body {
    background-color: rgb(165, 245, 218);
    text-align: center;
    overflow: hidden;
}

.content {
    padding-top: 10%;
}

.select-type {
    color: black;
}

.word-input {
    color: black;
}

.sentence-input {
    color: black;
}