<body>
  <div class="content">
    <mat-radio-group aria-label="Select an option" class="select-type" [(ngModel)]="type">
      <mat-radio-button value="noun-adjective" checked=>Noun/Adjective</mat-radio-button>
      <mat-radio-button value="verb">Verb</mat-radio-button>
    </mat-radio-group><br><br>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Word</mat-label>
      <input matInput placeholder="write your word" class="word-input">
      <mat-icon matSuffix>person_outline</mat-icon>
    </mat-form-field><br>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Meaning</mat-label>
      <input matInput placeholder="write its meaning" class="meaning-input">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field><br>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Sentence</mat-label>
      <input matInput placeholder="write a sentence" class="sentence-input">
      <mat-icon matSuffix>speaker_notes</mat-icon>
    </mat-form-field><br>

    <button mat-fab extended class="submit-word" (click)="addWord()">
      <mat-icon>playlist_add</mat-icon>
      Submit word
    </button>
  </div>
</body>