body {
    background-color: rgb(165, 245, 218);
    text-align: center;
    overflow: hidden;
}

.content {
    padding-top: 10%;
}

.add-words {
    margin-bottom: 1rem;
    min-width: 152px;
    max-width: 183px;
    width: 12%;
}

.my-vocabulary {
    margin-bottom: 1rem;
    min-width: 177px;
    max-width: 213px;
    width: 14%;
}

.test-skill {
    min-width: 201px;
    max-width: 244px;
    width: 16%;
}